.lf-progress-wrap div p {
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	margin-top: 60px;
	/*width: 75px;*/
	float: left;
	margin-left: -30px !important;
	display: none !important;
}
/**/

.lf-line {
	height: 1px;
	width: 250px;
	border-bottom: 5px solid #9B9B9B;
	position: absolute;
	margin-top: 8px;
	margin-left: 20px;
}
/**/

.progressbar-dots {
	display: inline-flex;
	border: #949494 solid 4px;
	background: #333333;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #d4d4d4;
	font-size: 20px;
	margin-left: 0px;
	margin-top: 0px;
}
/**/

.progressbar-dots:before {
	font-size: 12px;
	position: absolute;
	margin-top: 50px;
	color: #666;
	margin-right: 100px;
	content: none !important
}
/**/

.lf-progress-wrap div li p {
	color: #d4d4d4;
	margin-left: -35px;
}
/**/

.lf-progress-wrap div .done {
	font-family: 'FontAwesome';
	border: #8cc43d solid 4px;
	color: #8cc43d;
}
/**/

.lf-progress-wrap div .done:after {
	content: '00c';
}
/**/

.lf-progress-wrap div .done p {
	color: #8cc43d;
	margin-left: -25px !important;
}
/**/

.lf-progress-wrap div .active {
	color: #fff !important;
	border: #ffffff solid 4px !important;
	background: #ffffff !important;
}
/**/

.lf-progress-wrap div .active p {
	color: #555;
	margin-left: -35px;
}
/**/

.customize-form-sidebar {
	background: #364047;
	height: 100%;
	/*position:absolute;*/
}
#lfc5b2b69a57647a .lf-customize-form-container {
	background-color: rgba(0, 0, 0, 0);
	background-image: none !important;
	background-size: 100%;
	background-position: top center;
	height: none !important;
	width: 100%;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-clip: content-box;
	background-attachment: none !important;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/**/

#lfc5b2b69a57647a .form-container-overlay {
	display: none !important;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1050;
	outline: 0px none !important;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	background-color: #FFF;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container h1 {
	font-family: "Times New Roman";
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container h4, .lf-customize-form-container .lf-old-sidebar label.custom_form_label {
	font-family: "Federo";
	font-size: 15px;
	font-weight: lighter;
	color: #FFF;
	line-height: normal;
	padding: 10px;
}
/**/

#lfc5b2b69a57647a .lf-old-sidebar .lf-customize_form_container input .lf-customize-form-container>select {
	font-family: "Lato";
	font-size: 15px;
	font-weight: lighter;
	color: #FFF;
	line-height: 1.4px;
	width: 60%;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container button {}
.lf-old-sidebar .lf-customize-form-container #lf_progress_container
/**/

#lfc5b2b69a57647a .lf-old-sidebar .lf-customize_form_container form {
	background-color: rgba(255, 255, 255, 0.4);
	border: 0px;
	border-radius: 4px;
	width: 500px;
	height: none !important;
	text-align: center;
	position: none !important;
	margin-top: 30px;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
	padding-top: 30px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	opacity: 1;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container .lf-progress-wrap div ul {
	display: flex;
	width: 250px;
	list-style: none !important;
	padding: 0px;
	margin: initial;
	justify-content: space-between;
	z-index: 1;
}
.lf-customize-form-container button
/**/

#lfc5b2b69a57647a .lf-customize-form-container .lf-progress-wrap div ul {
	display: flex;
	width: 250px;
	list-style: none !important;
	padding: 0px;
	margin: initial;
	justify-content: space-between;
	z-index: 1;
}
.lf-customize-form-container button #lfc5b2b69a57647a #lf_53286_form1-step {
	width: none !important;
	height: none !important;
	
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-2_label {
	width: 90% !important;
	height: none !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-2_list {}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-2 {
	height: 55px !important;
	display: inline-block;
	line-height: normal !important;
	margin: -10px auto 10px auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-3_label {
	width: 90% !important;
	height: none !important;
	property: value !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-3_list {}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-3 {
	height: 55px !important;
	display: inline-block;
	line-height: normal !important;
	max-width: none !important;
	margin: -10px auto 10px auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form1-next-0 {
	color: rgb(235, 244, 248) !important;
	border-width: 0px !important;
	border-style: solid !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form1-next-0_list {}
/**/

#lfc5b2b69a57647a #lf_53286_form-form1-prev-0 {
	border-radius: 3px !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: #000000 !important;
	padding: 8px 0px !important;
	margin: 20px 0px !important;
	background-color: #f4f5f5 !important;
	transition-property: width !important;
	transition-duration: 2s !important;
	min-width: 30% !important;
	height: none !important;
	
	border: 1px solid #d7dada !important;
	text-decoration: none !important;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3) !important;
	word-break: break-all !important;
	width: none !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form1-prev-0_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form2-step {
	width: none !important;
	height: none !important;
	
}
/**/

#lfc5b2b69a57647a #lf_53286_html-form2-custom-form-question-7_label {
	property: value !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_html-form2-custom-form-question-7_list {}
/**/

#lfc5b2b69a57647a #lf_53286_html-form2-custom-form-question-7 {
	display: inline-block;
	background-size: 15px !important;
	outline: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	cursor: pointer !important;
	margin: 0px 0px 20px !important;
	background-position: 97% 22px !important;
	property: value !important;
	background-image: url('https://app.leadformly.com/assets/img/grey-chevron.png') !important;
	background-repeat: no-repeat !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form2-custom-form-question-8_label {
	property: value !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form2-custom-form-question-8_list {}
/**/

#lfc5b2b69a57647a #lf_53286_form2-custom-form-question-8 {
	display: inline-block;
	background-size: 15px !important;
	outline: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	cursor: pointer !important;
	background-position: 97% 22px !important;
	property: value !important;
	background-image: url('https://app.leadformly.com/assets/img/grey-chevron.png') !important;
	background-repeat: no-repeat !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form2-next-1 {
	border-width: 0px !important;
	border-style: solid !important;
	color: rgb(255, 255, 255) !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form2-next-1_list {}
/**/

#lfc5b2b69a57647a #lf_53286_form-form2-prev-1 {
	border-radius: 3px !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: #000000 !important;
	padding: 8px 0px !important;
	margin: 20px 0px !important;
	background-color: #f4f5f5 !important;
	transition-property: width !important;
	transition-duration: 2s !important;
	min-width: 30% !important;
	height: none !important;
	display: none !important;
	border: 1px solid #d7dada !important;
	text-decoration: none !important;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3) !important;
	word-break: break-all !important;
	width: none !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-form2-prev-1_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-step {
	width: none !important;
	height: none !important;
	
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1_label {
	property: value !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1_list {}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1 {
	property: value !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text_label {
	width: 90% !important;
	height: none !important;
	display: inherit;
	line-height: normal !important;
	font-weight: lighter !important;
	word-break: break-word !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-link_label {
	width: 90% !important;
	height: none !important;
	display: inherit;
	line-height: normal !important;
	font-weight: lighter !important;
	word-break: break-word !important;
	margin: auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-link_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-final-next-3 {
	border-radius: 3px !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: #000000 !important;
	padding: 8px 0px !important;
	margin: 20px 0px !important;
	background-color: #f4f5f5 !important;
	transition-property: width !important;
	transition-duration: 2s !important;
	min-width: 30% !important;
	height: none !important;
	
	border: 1px solid #d7dada !important;
	text-decoration: none !important;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3) !important;
	word-break: break-all !important;
	width: none !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-final-next-3_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-final-prev-3 {
	border-radius: 3px !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: #000000 !important;
	padding: 8px 0px !important;
	margin: 20px 0px !important;
	background-color: #f4f5f5 !important;
	transition-property: width !important;
	transition-duration: 2s !important;
	min-width: 30% !important;
	height: none !important;
	display: none !important;
	border: 1px solid #d7dada !important;
	text-decoration: none !important;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3) !important;
	word-break: break-all !important;
	width: none !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form-final-prev-3_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_custom-form-submit-button_list {
	text-align: center !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text-submit-button {
	font-family: "Open Sans",sans-serif !important;
	font-weight: 400 !important; 
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-line {
	height: 1px !important;
	width: 250px !important;
	
	border-bottom-style: solid !important;
	position: absolute !important;
	margin-top: 8px !important;
	margin-left: initial !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-progress-wrap {
	margin-left: auto !important;
	margin-right: auto !important;
	display: table;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-header_list {
	color: inherit !important;
	margin-top: 10px !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-sub-header1_list {
	color: inherit !important;
	margin-top: 10px !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-sub-header2_list {
	color: inherit !important;
	margin-top: 10px !important;
	padding: 0px 0px 10px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-header {
	height: none !important;
	width: none !important;
	display: none !important;
	font-family: 'Federo', sans-serif !important;
	font-size: 32px !important;
	font-weight: bolder !important;
	color: #6baf1b !important;
	line-height: normal !important;
	margin-top: 21px !important;
	margin-bottom: 10.5px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-sub-header1 {
	height: none !important;
	width: none !important;
	display: none !important;
	font-family: 'Federo', sans-serif !important;
	font-size: 16px !important;
	font-weight: bolder !important;
	color: #6baf1b !important;
	line-height: normal !important;
	margin: 0 0 10.5px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-form-sub-header2 {
	height: none !important;
	width: none !important;
	display: none !important;
	font-family: 'Federo', sans-serif !important;
	font-size: 16px !important;
	font-weight: bolder !important;
	color: #6baf1b !important;
	line-height: normal !important;
	margin: 0 0 10.5px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_lf-power-link {
	height: none !important;
	width: none !important;
	
	color: #999999 !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text {
	width: 90% !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1233_list {}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1233 {
	color: rgb(120, 144, 156) !important;
	font-size: 30px !important;
	font-weight: bold !important;
	text-align: center !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1234_list {
	width: 120px !important;
	height: 120px !important;
	margin: auto auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-question-1234 {
	max-width: 100% !important;
	float: center;
	margin: 10px auto 10px auto !important;
	min-width: 5% !important;
	height: auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text-success-message-text_list {}
/**/

#lfc5b2b69a57647a #lf_53286_final-custom-form-button-text-success-message-text {
	color: rgb(120, 144, 156) !important;
	font-size: 16px !important;
	font-weight: bold !important;
	text-align: center !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-1_label {
	font-family: inherit !important;
	width: 90% !important;
	height: none !important;
	display: inherit;
	line-height: normal !important;
	word-break: break-word !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-1_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 0px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-1 {
	height: 55px !important;
	display: inline-block;
	line-height: normal !important;
	max-width: none !important;
	margin: -10px auto 10px auto !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-4_label {
	font-family: inherit !important;
	width: 90% !important;
	height: none !important;
	display: inherit;
	line-height: normal !important;
	word-break: break-word !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-4_list {
	width: auto !important;
	height: auto !important;
	padding: 0px 0px 0px 0px !important;
}
/**/

#lfc5b2b69a57647a #lf_53286_form1-custom-form-question-4 {
	height: 55px !important;
	display: inline-block;
	line-height: normal !important;
	max-width: none !important;
	margin: auto auto 20px auto !important;
}
input[type=range] {
	-webkit-appearance: none;
	width: 90%;
	display: inline-block;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
/**/

input[type=range]:focus {
	outline: 0
}
/**/

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: #689eca;
	border-radius: 5px;
	border: .2px solid #010101
}
/**/

input[type=range]::-webkit-slider-thumb {
	border: 5.4px solid #fff;
	height: 27px;
	width: 27px;
	border-radius: 15px;
	background: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
/**/

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #689eca
}
/**/

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: #689eca;
	border-radius: 5px;
	border: .2px solid #010101
}
/**/

input[type=range]::-moz-range-thumb {
	border: 5.4px solid #fff;
	height: 27px;
	width: 27px;
	border-radius: 15px;
	background: #fff;
	cursor: pointer;
	top: 50%;
	transform: none !important;
	position: relative;
}
/**/

input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: 0 0;
	border-color: transparent;
	color: transparent
}
/**/

input[type=range]::-ms-fill-lower {
	background: #00e600;
	border: .2px solid #010101;
	border-radius: 5px
}
/**/

input[type=range]::-ms-fill-upper {
	background: #689eca;
	border: .2px solid #010101;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}
/**/

input[type=range]::-ms-thumb {
	border: 5.4px solid #fff;
	width: 27px;
	border-radius: 15px;
	background: #fff;
	cursor: pointer;
	height: 8.4px;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
/**/

input[type=range]:focus::-ms-fill-lower {
	background: #689eca
}
/**/

input[type=range]:focus::-ms-fill-upper {
	background: #1aff1a
}
/**/

.slider-value {
	border: 1px solid #ffffff;
	padding: 4px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	display: inline-block;
}
/**/

@supports (-ms-accelerator:true) {
	input[type=range]::-webkit-slider-thumb {
		border: 5.4px solid #fff;
		height: 27px;
		width: 27px;
		border-radius: 15px;
		background: #fff;
		cursor: pointer;
		-webkit-appearance: none;
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
}
#lfc5b2b69a57647a .lf-form-fields {
	background-color: rgb(255, 255, 255) !important;
	border: 1px solid rgb(220, 229, 235) !important;
	text-align: left !important;
	border-radius: 5px !important;
	color:rgb(202, 201, 201);
	font-size: 16px !important;
	padding: 15px 10px 15px 10px !important;
	margin: auto !important;
	width: 90% !important;
}
/**/

#lfc5b2b69a57647a .custom-form-label {
	font-size: 16px !important;
	text-align: left;
	
	/* padding: 0px 0px 10px 0px !important; */
	font-weight: normal !important;
}
/**/

#lfc5b2b69a57647a .lf-buttons {
	background: linear-gradient(to right, #5989e5, #37cfdc);
	border: 0px solid rgba(215, 218, 218, 0) !important;
	color: rgb(255, 255, 255) !important;
	font-weight: bold !important;
	border-radius: 5px !important;
	font-size: 17px !important;
	padding: 15px 0px 15px 0px !important;
	margin-top: 20px !important;
	width: 90% !important;
	line-height: normal !important;
	word-wrap: normal !important;
	width: 90% !important;
}
/**/

#lfc5b2b69a57647a .lf-form-container {
	font-family: inherit !important;
	background-color: rgb(255, 255, 255) !important;
	border: 0px solid !important;
	/* width: 450px !important; */
	height: auto !important;
	border-radius: 5px !important;
	padding: 20px 10px 20px 10px !important;
	/* margin: 10px auto 10px auto !important; */
	text-align: left;
}
/**/

#lfc5b2b69a57647a .lf-line-progress-bar {
	display: none !important;
	margin: auto auto auto auto !important;
	width: 100% !important;
	type: line !important;
}
/**/

#lfc5b2b69a57647a .lf-line-progress-bar .active {
	color: #fff !important;
	border: 4px solid #ffffff !important;
	background: #ffffff !important;
}
/**/

#lfc5b2b69a57647a .lf-line-progress-bar li {
	color: #d4d4d4 !important;
	border: 4px solid #949494 !important;
	background: #333333 !important;
	margin: 0px !important;
}
/**/

#lfc5b2b69a57647a .lf-line {
	height: 1px !important;
	width: 250px !important;
	
	border-bottom-style: solid !important;
	border-bottom-width: 4px !important;
	border-bottom-color: #9B9B9B !important;
	position: absolute !important;
	margin-top: 8px !important;
	margin-left: initial !important;
}
/**/

#lfc5b2b69a57647a .progress {
	width: 90% !important;
	overflow: hidden !important;
	display: block;
	height: 15px !important;
	margin: auto auto auto auto !important;
	background-color: linear-gradient(135deg, rgba(102, 126, 234, 0.15), rgb(107, 141, 214), rgb(142, 55, 215)) !important;
	border-radius: 5px !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
	type: line !important;
}
/**/

#lfc5b2b69a57647a .progress-bar {
	background-color: linear-gradient(135deg, rgb(102, 126, 234), rgb(107, 141, 214), rgb(142, 55, 215)) !important;
	font-size: 13px !important;
	line-height: 21px !important;
	float: left;
	width: 0% !important;
	height: 100% !important;
	color: #ffffff !important;
	text-align: center !important;
}
/**/

#lfc5b2b69a57647a .toggle-switch-class {
	margin: auto !important;
}
/**/

#lfc5b2b69a57647a .lf-image-selector-container {
	background: transparent !important;
	border: 0px solid #FFFFFF !important;
	width: 100% !important;
	height: auto !important;
	text-align: center !important;
	border-radius: 5px !important;
	padding: 0px !important;
	margin: auto auto auto auto !important;
}
/**/

#lfc5b2b69a57647a .lf-image-selector-container img {
	border-radius: 5px !important;
}
/**/

#lfc5b2b69a57647a .lf-images {
	margin: 0px !important;
	cursor: pointer !important;
	display: inline-table;
	padding: 0px !important;
}
/**/

#lfc5b2b69a57647a .lf-images .lf-checkbox {
	position: absolute !important;
	vertical-align: top !important;
	width: 12px !important;
	float: right;
	top: 15px !important;
}
/**/

#lfc5b2b69a57647a .lf-images .lf-checkbox:hover {
	position: absolute !important;
	vertical-align: top !important;
	width: 12px !important;
	float: right;
	top: 15px !important;
}
/**/

#lfc5b2b69a57647a .lf-images img {
	margin: 10px 2px !important;
}
/**/

#lfc5b2b69a57647a .lf-image-overlay-icon {
	position: relative !important;
	color: #FFFFFF !important;
	font-size: 40px !important;
	icon-class: fa fa-hand-o-up !important;
}
/**/

#lfc5b2b69a57647a .lf-img-overlays {
	background: rgba(36, 182, 233, 0.56) !important;
	border-radius: 5px !important;
	text-align: center !important;
}
/**/

#lfc5b2b69a57647a .lf-img-overlays.active {
	background: rgba(36, 182, 233, 0.77) !important;
}
/**/

#lfc5b2b69a57647a .lf-image-overlay-icon.active {
	position: relative !important;
	color: #FFFFFF !important;
	font-size: 40px !important;
	icon-class: fa fa-check !important;
}
/**/

#lfc5b2b69a57647a .image-selector-tooltip-box {
	font-family: inherit !important;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container {
	font-family: inherit !important;
}
/**/

#lfc5b2b69a57647a .lf-invalid-element {
	border: 1px solid #D6041D !important;
	outline: none !important;
}
/**/

#lfc5b2b69a57647a .lf-error-label {
	display: block;
	font-size: 12px !important;
	text-transform: uppercase !important;
	color: #D6041D !important;
	width: 90% !important;
	margin: auto !important;
	margin-bottom: 10px !important;
    margin-left: 0px !important;
}
/**/

#lfc5b2b69a57647a .lf-label-warning {
	font-weight: bold !important;
	color: #D6041D !important;
}
/**/

#lfc5b2b69a57647a .lf-image-selector .uploaded-icon {
	border-radius: 5px !important;
}
/**/

#lfc5b2b69a57647a .lf-advance-image-selector .lf-icon-box i {
	border-radius: 5px !important;
}
/**/

#lfc5b2b69a57647a .lf-img-overlay {
	border-radius: 5px !important;
}
/**/

#lfc5b2b69a57647a .lf-customize-form-container p {
	font-family: inherit !important;
}
/**/

#lfc5b2b69a57647a .toggle-label {
	display: inline-block;
	max-width: 200px !important;
	margin: 0 10px !important;
}
/**/

#lfc5b2b69a57647a .lf-slider-container {
	width: 90% !important;
	margin: 7px 7px 7px 7px !important;
}
/**/

#lfc5b2b69a57647a .slider-handle:after {
	display: block;
}
/**/

.flatSliderHandle {
	border: 13px solid rgb(101, 125, 233) !important;
}
/**/

#lfc5b2b69a57647a .roundGradientSliderHandle, .squareGradientSliderHandle {
	background: linear-gradient(180deg, #657de9 0%, #5164ba 100%) !important;
}
/**/

#lfc5b2b69a57647a .roundSliderHandle, .squareSliderHandle {
	border: 4px solid rgb(101, 125, 233) !important;
	color: rgb(101, 125, 233) !important;
}
/**/

#lfc5b2b69a57647a .slider-track {
	border: 1px solid rgb(101, 125, 233) !important;
}
/**/

.slider-track-high {
	background: rgb(101, 125, 233) !important;
	opacity: .2 !important;
}
/**/

.slider-selection {
	background: rgb(101, 125, 233) !important;
	opacity: .4 !important;
}
/**/

#lfc5b2b69a57647a .slider-handle {
	border-width: none !important;
}
/**/

#lfc5b2b69a57647a .custom-form-toggle-pointer, .toggle-switch-class {
	border-color: rgb(101, 125, 233) !important;
	border-style: solid !important;
	border-width: 1px !important;
}
/**/

.custom-form-toggle .custom-form-toggle-pointer {
	background-color: rgb(101, 125, 233) !important;
}
/**/

#lfc5b2b69a57647a .rounded-gradient .custom-form-toggle-pointer, .rounded-gradient-clean .custom-form-toggle-pointer, .square-gradient .custom-form-toggle-pointer {
	background: linear-gradient(180deg, #657de9 0%, #5164ba 100%) !important;
}
/**/

#lfc5b2b69a57647a .rounded-gradient, .rounded-gradient-clean, .square-gradient {
	background-color: rgba(101, 125, 233, 0.2) !important;
}
/**/

#lfc5b2b69a57647a .sliderCount {
	font-size: 16px !important;
}
/**/

#lfc5b2b69a57647a .terms_and_condition {
	font-size: 16px !important;
	text-align: center !important;
	color: #000000 !important;
	font-weight: bold !important;
}
#lfc5b2b69a57647a .lf-form-fields:hover {
	border: 1px solid rgb(204, 204, 204) !important;
	padding: px !important;
	margin: px !important;
}
/**/

#lfc5b2b69a57647a .custom-form-label:hover {
	font-weight: normal !important;
}
/**/

#lfc5b2b69a57647a .lf-buttons:hover {
	background: linear-gradient(135deg, rgb(102, 126, 234), rgb(107, 141, 214), rgb(142, 55, 215)) !important;
}
#lfc5b2b69a57647a .lf-form-field-focus, #lfc5b2b69a57647a .lf-form-fields:focus {}
/**/

#lfc5b2b69a57647a .custom-form-label:focus {}
/**/

#lfc5b2b69a57647a .lf-buttons:focus {
	background: linear-gradient(135deg, rgb(102, 126, 234), rgb(107, 141, 214), rgb(142, 55, 215)) !important;
}
.modal-content{
	
	background: white !important;
	font-family: "Open Sans",sans-serif !important;
	font-weight: 400 !important; 
}
.custom-form-label {
	margin: 0px !important;
}
@media(min-width:300px) and (max-width:767px){
	.modal-content{
		top: 200px;
    	left: 5px;
	}
}
@media(min-width:768px) and (max-width:1023px){
	.modal-content{
		left: 25%;
		top: 250px;
	}
}
@media(min-width:1024px) and (max-width:1199px){
	.modal-content{
		left: 50%;
		top: 300px;
	}
}
@media (min-width:1200px){
	.modal-content{
		left: 50%;
		transform: translateX(37%);
		top: 200px;
	}
	#lfc5b2b69a57647a .lf-form-container {
		width:450px;
	}
}