section#pricing {
    margin-bottom: 60px;
}
.pricing-wrapper {
    margin-bottom: 60px;
}

.pricing-wrapper .toggle-pricing {
    margin-bottom: 80px;
}

.pricing-wrapper .toggle-pricing h5 a.selected {
    color: #fff;
    background-color: #FF6B00;
    pointer-events: none;
    cursor: default;
}

.pricing-wrapper .toggle-pricing h5 a:hover {
    color: #fff;
    background-color: #82CBFF;
}

.pricing-wrapper .toggle-pricing h5 a {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-wrapper .toggle-pricing .selected {
    position: relative;
    background: #1e2125;
    color: #fff;
}

.pricing-wrapper .toggle-pricing a {
    border: 1px solid #828CFF !important;;
    /* color: rgb(89, 137, 229) !important;; */
    display: inline-block;
    font-size: 16px;
    min-width: 63px;
    padding: 15px 50px;
    text-decoration: none;
}

.pricing-wrapper .toggle-pricing a#monthlySelect {
    border-radius: 26px 0 0 26px;    
}

.pricing-wrapper .toggle-pricing a#annualSelect {
    border-radius: 0 26px 26px 0;    
}

.pricing-wrapper .toggle-pricing p {
    color: #65748e;
    font-size: 14px;
}

.pricing-wrapper #monthly-slider, .pricing-wrapper #annual-slider {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.pricing-wrapper .pricing-slider-wrapper {
    height: 30px;
    position: relative;
}

.pricing-wrapper .pricing-progress-bar {
    background: linear-gradient(to right, rgb(89, 137, 229), rgb(55, 207, 220)) !important;
    border: none !important;
    top: 14px;
    left: 0;
    right: 0;
    position: absolute;
    height: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pricing-wrapper .progress {
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pricing-wrapper .progress {
    background-color: #f0f5f5;
    height: 10px;
}

.pricing-wrapper .slider-step {
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
}

.pricing-wrapper .slider-step div {
    width: 2px;
    height: 100%;
    margin-left: 4px;
    background: #1c509e;
    opacity: 0.2;
}

.pricing-wrapper .slider-step.one {
    left: 7.1%;
}

.pricing-wrapper .slider-step.two {
    left: 14.2%;
}

.pricing-wrapper .slider-step.three {
    left: 21.3%;
}

.pricing-wrapper .slider-step.four {
    left: 28.4%;
}

.pricing-wrapper .slider-step.five {
    left: 35.5%;
}

.pricing-wrapper .slider-step.six {
    left: 42.6%;
}

.pricing-wrapper .slider-step.seven {
    left: 49.7%;
}

.pricing-wrapper .slider-step.eight {
    left: 56.8%;
}

.pricing-wrapper .slider-step.nine {
    left: 63.9%;
}

.pricing-wrapper .slider-step.ten {
    left: 71%;
}

.pricing-wrapper .slider-step.eleven {
    left: 78.1%;
}

.pricing-wrapper .slider-step.twelve {
    left: 85.2%;
}

.pricing-wrapper .slider-step.thirteen {
    left: 92.3%;
}

.pricing-wrapper .pricing-slider-button {
    position: absolute;
    top: -10px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #FF6B00;
    -webkit-box-shadow: 0 0 24px 0 rgba(50,50,50,0.32);
    -moz-box-shadow: 0 0 24px 0 rgba(50,50,50,0.32);
    box-shadow: 0 0 24px 0 rgba(50,50,50,0.32);
    border-radius: 15px;
    cursor: pointer;
}

.pricing-wrapper .pricing-slider-button .lines {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 2px;
    height: 12px;
    background-color: #fff;
}

.pricing-wrapper .pricing-slider-button .lines:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    width: 2px;
    height: 12px;
    background-color: #fff;
}

.pricing-wrapper .pricing-slider-button .contactsText {
    position: absolute;
    width: 160px;
    margin-left: -66px;
    top: -52px;
    left: 0;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    -webkit-box-shadow: 0 8px 28px 1px rgba(3, 169, 245, 0.13);
    -moz-box-shadow: 0 8px 28px 1px rgba(3, 169, 245, 0.13);
    box-shadow: 0 8px 28px 1px rgba(3, 169, 245, 0.13);
    box-sizing: border-box;
}

.pricing-wrapper .pricing-slider-button .contactsText:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 7px #fff;
    border-left: solid 13px transparent;
    border-right: solid 13px transparent;
}

.pricing-wrapper .pricing-slider-button .contactsText p {
    margin: 0;
}

.pricing-wrapper .pricing-slider-button .contactsText .number {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 700;
    color: #2e2e2e;
}

.pricing-wrapper .pricing-slider-button .contactsText .title {
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
    color: #828282;
    font-weight: normal;
}

.pricing-box-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.pricing-box-wrapper .pricing-box {
    position: relative;
    margin: 0;
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 270px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 27px 7px rgba(3, 169, 245, 0.13);
    -moz-box-shadow: 0 2px 27px 7px rgba(3, 169, 245, 0.13);
    box-shadow: 0 2px 27px 7px rgba(3, 169, 245, 0.13);
    box-sizing: border-box;
}

.pricing-box-wrapper .pricing-box .tick-icon {
    display: inline;
    margin-right: 10px;
}

.pricing-box-wrapper .pricing-box ul#pro-ul {
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
}

.pricing-box-wrapper .pricing-box ul#basic-ul {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

.pricing-box-wrapper .pricing-box ul li {
    padding-bottom: 10px;
}

.signup-subline {
    margin-top: 10px;
    font-size: 13px;
    color: #65748e;
}


#first-box {
    background-color: #fefefe;
    width: 300px;
    top: -30px;
}

#first-box h3 {
    color: #65748e;
    font-size: 26px;
    font-weight: 900;
}

#first-box p span {
    color: #65748e;
}

#first-box h5 .basic-price {
    font-size: 48px;
    font-weight: 900;
    color: #FF6B00;
}

#second-box {
    margin-left: -10px;
    padding-top: 15px;
    padding-bottom: 40px;
    width: 500px;
}

#second-box h3 {
    color: rgb(89, 137, 229);
    font-size: 42px;
    font-weight: 900;
}

#second-box p span {
    color: #65748e;
}

#second-box h5 .pro-price, #second-box h5 .appsumo-price {
    font-size: 36px;
    font-weight: 900;
    color: rgb(89, 137, 229);
}
.pricing-slider-button{
    background-image: linear-gradient(to right, rgb(89, 137, 229), rgb(55, 207, 220)) !important;
    border: none !important;
}

.selected{
    background: #828CFF !important;
    border: #828CFF !important;
}
a.btn.signup {
    color: #03a9f5;
    margin: -1px;
    font-weight: 600;
    height: 100%;
    font-size: 14px;
    background: transparent;
    padding: 20px;
    border: solid 1px #03a9f5;
    border-radius: 28px;
}

a.btn.signup:hover {
    background-color: #03a9f5;
    color: #fff;
}

a.more-contact {
    color: #FF6B00;
    font-size: 36px;
    font-weight: 900;
}

.pricing-box ul {
    margin-top: 20px; 
    list-style-type: none;
    padding: 0;
}

.pricing-box ul li {
    color: #65748e;
}